[submodule "ai-hedge-fund"]
	path = ai-hedge-fund
	url = https://github.com/virattt/ai-hedge-fund.git
[submodule "tong-jincheng"]
	path = tong-jincheng
	url = https://github.com/hotcoffeeshake/tong-jincheng-skill.git
[submodule "xinqingnian"]
	path = xinqingnian
	url = https://github.com/SamadhiFire/xinqingnian-skill.git
[submodule "guodegang"]
	path = guodegang
	url = https://github.com/ByteRax/guodegang-skills.git
[submodule "fengge-wangming"]
	path = fengge-wangming
	url = https://github.com/rottenpen/fengge-wangmingtianya-perspective.git
